<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.yoribogo.domain.CategoryAVO" alias="categoryAVO" />
        <typeAlias type="com.app.yoribogo.domain.CategoryBVO" alias="categoryBVO" />
        <typeAlias type="com.app.yoribogo.domain.CategoryCVO" alias="categoryCVO" />
        <typeAlias type="com.app.yoribogo.domain.CommentVO" alias="commentVO" />
        <typeAlias type="com.app.yoribogo.domain.FavoriteRecipeVO" alias="favoriteRecipeVO" />
        <typeAlias type="com.app.yoribogo.domain.LikeVO" alias="likeVO" />
        <typeAlias type="com.app.yoribogo.domain.MemberVO" alias="memberVO" />
        <typeAlias type="com.app.yoribogo.domain.MessageVO" alias="messageVO" />
        <typeAlias type="com.app.yoribogo.domain.PostFileVO" alias="postFileVO" />
        <typeAlias type="com.app.yoribogo.domain.PostVO" alias="postVO" />
        <typeAlias type="com.app.yoribogo.domain.ProfileVO" alias="profileVO" />
        <typeAlias type="com.app.yoribogo.domain.PurchasedRecipeVO" alias="purchasedRecipeVO" />
        <typeAlias type="com.app.yoribogo.domain.PurchaseVO" alias="purchaseVO" />
        <typeAlias type="com.app.yoribogo.domain.RecipeVO" alias="recipeVO" />
        <typeAlias type="com.app.yoribogo.domain.TagVO" alias="tagVO" />
        <typeAlias type="com.app.yoribogo.domain.TagsVO" alias="tagsVO" />
    </typeAliases>
</configuration>