<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>요리보고 주간랭킹</title>
    <link rel="shortcut icon" href="/images/favicon/yoribogo_favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/rangking/rangkingHeaderNav.css">
</head>
<body>
    <div id="__next">
        <nav class="mainBanner" th:replace="~{/fix/post/listHeader :: list-nav}"></nav>
            <main class="main">
                <h1 class="headline .headlineColor">주간 인기 레시피</h1>
                <div class="mt-[32px]">
                    <div>
                        <ul class="mainUl">
                            <li th:each="post : ${posts}" th:object="${post}">
                                <div>
                                    <button type="button" class="ulBtn">
                                        <div class="relative">
                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>
                                                  <img alt="food image" th:src="@{{imageFileName}(imageFileName=*{postImagePath})}" decoding="async" data-nimg="responsive" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">
                                                  <noscript></noscript>
                                            </span>
                                            <div class="fix"></div>
                                        </div>
                                        <h2 class="fontBold" th:text="*{memberName}"></h2>
                                        <p class="fontSm" th:text="*{postTitle}"></p>
                                        <p class="fontMd" th:text="*{postContent}"></p>
                                    </button>
                                </div>
                            </li>
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" "  src="/images/food/food3.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food3.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food9.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food11.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food4.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food5.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food6.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food12.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food9.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                              <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                              <img alt=" " src="/images/food/food8.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                              <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                              <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                              <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                              <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                                <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                                </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div>-->
<!--                                    <button type="button" class="ulBtn">-->
<!--                                        <div class="relative">-->
<!--                                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">-->
<!--                                                  <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 100% 0px 0px;"></span>-->
<!--                                                  <img alt=" " src="/images/food/food1.png" class="rounded" sizes="100vw" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">-->
<!--                                                  <noscript></noscript>-->
<!--                                            </span>-->
<!--                                            <div class="fix"></div>-->
<!--                                        </div>-->
<!--                                        <h2 class="fontBold">임금손</h2>-->
<!--                                        <p class="fontSm">예술</p>-->
<!--                                        <p class="fontMd">🧪뜨개 연구원 임금손입니다🧫</p>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                        <div class="widthHeight"></div>
                    </div>
                </div>
            </main>
        <div class="footerHead">
        <footer class="footerClass" th:replace="~{/fix/main/footer  :: main-footer}"></footer>
        </div>
    </div>
</body>
</html>