<!DOCTYPE html>
<html lang="ko" class="screenFull">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>요리보고 비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/join_login/findPassword.css">
  <link rel="shortcut icon" href="/images/favicon/yoribogo_favicon.ico">
</head>

<body class="screenFull"> <!-- body class="h-full" -->
  <div id="screenFullSecond"> <!-- div id="__next" -->
    <div class="fullLayout"> <!-- div class="h-full min-h-screen flex" -->
      <div class="halfScreen"> <!-- div class="w-[100%] ... lg:py-[56px]" -->
        <div class="nav"> <!-- div class="px-[32px] w-full lg:px-[40px]" -->
          <button type="button" class="backButton">
            <div class="arrowBackwards">
              <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px" class="backWards">
                <path
                  d="M13.833 8a.667.667 0 0 0-.666-.667H5.72L8.973 4.08a.667.667 0 1 0-.943-.943L3.167 8l4.863 4.863a.665.665 0 0 0 .94-.94L5.72 8.667h7.447A.667.667 0 0 0 13.833 8Z">
                </path>
              </svg>
              <div>뒤로</div>
            </div>
          </button>
        </div>
        <section class="fpInnerLayout"> <!-- 'fp : findPssword'-->
          <h1 class="findPw">비밀번호 찾기</h1>
          <div class="mainFull">
            <form th:action="@{/member/findPassword}" method="post" id="myForm">
            <div class="findPasswordBox">
              <p class="guideText">요리보고 가입 시 사용한 이메일 계정을 입력주세요.<br>
                해당 이메일로 비밀번호 재설정 링크를 보내드립니다.</p>
              <div class="idLineBox">
                <div>
                  <p class="fontId">이메일 (아이디)</p>
                  <label class="textBox">
                    <input type="text" name="memberEmail" class="idInputBox" placeholder="example@gmail.com" value>
                  </label>
                  <div class="hiddenWrong">
                    <svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg" class="wrong">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.008 22.05c5.523.023 10.019-4.436 10.042-9.959.023-5.523-4.436-10.018-9.959-10.041C6.568 2.027 2.073 6.485 2.05 12.008c-.023 5.523 4.435 10.019 9.958 10.042Zm1.527-6.494a1.5 1.5 0 1 1-3-.013 1.5 1.5 0 0 1 3 .013Zm-1.181-2.505a.5.5 0 0 0 .498-.436l.646-4.997a.5.5 0 0 0-.494-.564l-1.867-.008a.5.5 0 0 0-.499.56l.604 5.002a.5.5 0 0 0 .495.44l.617.003Z"></path>
                    </svg>
                    <div id="emailCheck" class="hiddenWrongEmail"></div>
                  </div>
                </div>
              </div>
              <div class="pwLineBox">
                <button type="button" class="passwordReset">비밀번호 재설정 링크 받기</button>
              </div>
            </div>
            </form>
          </div>
        </section>
      </div>
      <div class="hiddenBlock">
        <div class="screenFull picture">
          <span
            style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
            class="screenFull foodPicture">
            <img sizes="100vw" alt="yoribogo intro imgage" src="/images/food/food1.png" decoding="async"
                 data-nimg="fill"
                 style="position: absolute; inset: 0px;     box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
<script th:inline="javascript">
  const flag = [[${email}]];
  if(flag !== null){
    const hidden=document.querySelector(".hiddenWrong");
    emailCheck.innerText = "가입된 이메일 계정이 아닙니다.";
    emailCheck.style.color = "red";
    hidden.style.display = "flex";
  }
</script>
<script src="/js/join_login/findPassword.js"></script>
</html>