<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yoribogo.mapper.mainMapper">
    <select id="select" resultType="postDTO">
        SELECT P.POST_TITLE, P.POST_CONTENT, P.POST_LIKE_COUNT, P.POST_COMMENT_COUNT,
        M.MEMBER_NAME, (P.POST_LIKE_COUNT + P.POST_COMMENT_COUNT) AS TOTAL_COUNT
        FROM TBL_POST P
        JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
        WHERE ROWNUM &lt;= 15
        ORDER BY TOTAL_COUNT DESC
    </select>
</mapper>