<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yoribogo.mapper.PostMapper">
    <select id="selectByReviewList" resultType="postDTO">
        SELECT P.*, M.MEMBER_NAME
        FROM TBL_POST P
        JOIN TBL_MEMBER M ON P.MEMBER_ID=M.ID
    </select>

    <select id="selectByRead" resultType="postDTO">
        SELECT P.*, B.CATEGORY_B_NAME
        FROM TBL_POST P
        JOIN TBL_CATEGORY_C C ON P.CATEGORY_C_ID=C.ID
        JOIN TBL_CATEGORY_B B ON C.CATEGORY_B_ID=B.ID
    </select>

    <update id="updatePostHits" parameterType="int">
           UPDATE TBL_POST P
           SET POST_HITS= POST_HITS + 1
           WHERE P.ID=#{PostId}
    </update>
</mapper>
