<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yoribogo.mapper.PostMapper">
    <select id="selectByReviewList" resultType="postVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_DATE, POST_HITS, POST_LIKE_COUNT, POST_COMMENT_COUNT, MEMBER_ID, CATEGORY_C_ID, POST_STATUS
        FROM TBL_POST
        WHERE POST_TITLE=#{postTitle} AND POST_CONTENT= #{postContent} AND POST_DATE = #{postDate} AND POST_HITS =#{postHits} AND MEMBER_ID= #{memberId}
    </select>
</mapper>
